NEXT_PUBLIC_API_URL=http://localhost:8000
API_INTERNAL_URL=http://localhost:8000
NEXT_PUBLIC_TELEGRAM_BOT_URL=https://t.me/Deine_Deutsch_Quiz_bot
NEXT_PUBLIC_TELEGRAM_CHANNEL_URL=https://t.me/doechkurse
